/* @font-face {
  font-family: "webFont";
  src: url("..\poppins-thin-webfont.woff2") format("woff2"),
    url("..\poppins-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "webFont", Arial;
  color: #2e2e2e;
  background-color: #ffffff;
  line-height: 1.9;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 2rem 0 0 0;
}
li {
  margin: 1rem;
}
h3 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}

/* Navigation */
.nav__links {
  display: flex;
  list-style: none;
  justify-content: center;
}
.header-logo {
  width: 50%;
  display: block;
  position: relative;
  margin: auto;
}
nav {
  margin: 30px, 30px, 0, 30px;
  font-size: 25px;
  font-style: normal;
  text-align: center;
}
a:link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
nav a:link {
  color: #2e2e2e;
  font-weight: 1;
  padding: 1rem 0.5rem;
}
nav a:visited {
  color: #2e2e2e;
  font-weight: 1;
}
nav .current {
  text-decoration: underline 0.1rem;
  text-underline-position: under;
}

/* Remove hamburger icon for desktop*/
.nav .icon {
  display: none;
}

/* Book Now Button */
.btn {
  cursor: pointer;
  padding: 1em 3em;
  line-height: 0.5em;
  background-color: #145cad;
  border-color: #145cad;
  border-style: none;
  border-radius: 10rem;
  color: #fff;
}

.book-online {
  position: absolute;
  display: inline-block;
  right: 50px;
  top: 10vh;
}

#book-online {
  color: #fff;
  padding: 1em 1.5em;
}

.btn:hover {
  opacity: 80%;
}
.main-header {
  margin: auto;
  position: relative;
  overflow: auto;
}

.this-page {
  border-bottom: 1rem solid #2e2e2e;
}

/* SLIDER */
.slider {
  margin: auto;
  height: 20rem;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  width: 33.33% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
.slide > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.slide:not(.vis) {
  visibility: hidden;
}
.sl2 {
  transform: translateX(100%);
}
.sl3 {
  transform: translatex(200%);
}
.slider__btn {
  position: absolute;
  opacity: 60%;
  /* z-index: 20; */
  cursor: grab;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
}
.slider__btn--left {
  left: 1%;
}
.slider__btn--right {
  right: 1%;
}

/* General Elements */
.section {
  padding: 0rem 3rem;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  padding: 0rem 1rem;
}
.head_col2 {
  flex: 10%;
}
.home-col1 {
  flex: 60% !important;
}
.home-col2 {
  flex: 40% !important;
}
.center {
  text-align: center;
  margin: 2rem 0 0 0;
}
.heading_wrapper {
  background-color: #031881;
  width: 100%;
}
.heading {
  color: #fff;
  line-height: 1.6;
  font-size: 3rem;
  margin: 0 0 0 3rem;
  font-weight: 100;
}

/* Google Map */
#gmap_canvas {
  width: 500px;
  height: 300px;
  margin: 2rem 0 0 0;
}
#location_gmap_canvas {
  width: 600px;
  height: 400px;
  margin: 2rem 0 0 0;
}

/* Buttons */
#times-available {
  display: block;
  width: 50%;
  padding: 1em 1.5em;
  font-weight: 600;
  text-align: center;
  margin: 2rem auto;
}
#times-available-location {
  display: block;
  width: 50%;
  padding: 1em 1.5em;
  font-weight: 600;
  text-align: center;
  margin: 2rem auto;
}
#Book-online-bottom {
  display: block;
  width: 15%;
  padding: 2em 1.5em;
  font-weight: 600;
  text-align: center;
  margin: 2rem auto;
}

/* ABOUT PAGE*/
.col-img {
  display: block;
  width: 80%;
  height: auto;
  margin: 2rem auto 0;
}

/* LOCATION PAGE */
.loc_head {
  margin: 0;
  line-height: 1.2;
}
.loc_info {
  margin: 2rem 0 0 2rem;
}

/* Privacy Policy */
.privacy_wrapper {
  width: 75%;
  margin: 2rem auto;
}

/* Footer */
.footer_img_wrap_index {
  margin: 2rem 0 0 0;
  width: 100%;
  max-height: 70vh;
  overflow: hidden;
}
.footer_img_index {
  position: relative;
  width: 100%;
  object-fit: contain;
  top: -30vh;
}

.footer_img_wrap {
  margin: 2rem 0 0 0;
  width: 100%;
  max-height: 45vh;
  overflow: hidden;
}
.footer_img {
  position: relative;
  width: 100%;
  object-fit: contain;
  top: -45vh;
}

.middle__foot {
  margin-top: 2rem;
  text-align: center;
  flex: 25%;
}
.footer__link {
  margin: 0 1rem 0 0;
  text-decoration: underline !important;
  color: #145cad;
  font-size: 1.1rem;
  text-underline-offset: 0.2em;
}
.footer__link:visited {
  color: #145cad;
  text-decoration: underline !important;
}

.left__foot {
  margin-left: 2rem;
  line-height: 1.6;
  flex: 42%;
}

.right__foot {
  flex: 33%;
}

/*************************** Phone view **************************/
/*************************** Phone view **************************/
@media only screen and (max-width: 1080px) {
  h1,
  h2,
  h3,
  h4,
  p,
  ul {
    margin: 1rem 0 0 0;
  }

  /* Display hamburger icon */
  .nav .icon {
    display: block;
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Header */
  .header_row {
    display: flex;
  }
  .head_col2 {
    flex: 10%;
  }
  .header-logo {
    background-color: #fff;
    float: left;
    width: 90%;
    position: relative;
  }

  /* Slider */
  .slider {
    width: 100%;
  }
  .slide {
    width: 100% !important;
  }
  .slide > img {
    height: 20rem !important;
    object-fit: cover;
  }

  /* Hide nav menu*/
  .nav__item {
    display: none;
  }

  #mc_embed_signup {
    width: 100% !important;
  }

  /* Display Nav menu */
  .nav.nav.responsive .nav__links {
    display: block;
  }
  .nav.responsive .nav__item {
    float: none;
    display: block;
  }
  #book-online {
    position: static;
    padding: 0.5em 0.75em !important;
    margin-top: 1rem;
  }

  /* General Elements */
  .section {
    padding: 0rem 1rem;
  }
  .row {
    display: flex;
    flex-flow: column wrap;
  }
  .column-reverse {
    flex-direction: column-reverse;
  }
  .column {
    flex: 100%;
    height: auto;
    padding: 0 1rem;
  }

  /* Google Map */
  .mapouter {
    position: relative;
    text-align: right;
  }
  .gmap_canvas {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: none !important;
  }
  #gmap_canvas {
    width: 100%;
  }

  #location_gmap_canvas {
    width: 100%;
  }

  /* Buttons */
  #times-available {
    width: 80% !important;
    /* margin: 2rem auto; */
  }
  #Book-online-bottom {
    width: 60% !important;
  }
  #times-available-location {
    line-height: 1.1rem;
  }
}

/* Location */
.loc_head {
  font-size: 1.5rem;
}
.opening_hours {
  font-size: 1rem;
}
.loc_info {
  margin-left: 0;
}

/* Privacy Policy */
.privacy_wrapper {
  width: 90%;
}

/* Footer */
.footer_img_index {
  top: 0 !important;
}
.footer_img {
  top: 0 !important;
}
