/* @font-face {
  font-family: "Valkyrie C4";
  src: url("//db.onlinewebfonts.com/t/5ef1d874f7e6c2b682f531ccf6479eeb.eot");
  src: url("//db.onlinewebfonts.com/t/5ef1d874f7e6c2b682f531ccf6479eeb.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5ef1d874f7e6c2b682f531ccf6479eeb.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/5ef1d874f7e6c2b682f531ccf6479eeb.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/5ef1d874f7e6c2b682f531ccf6479eeb.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/5ef1d874f7e6c2b682f531ccf6479eeb.svg#Valkyrie C4")
      format("svg");
  font-style: normal;
} */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "webFont", Arial;
  /* font-family: Arial; */
  font-weight: normal;
  font-style: normal;
  color: #2e2e2e;
  background-color: #ffffff;
  line-height: 1.9;
}
h1,
h2,
h3,
h4,
p {
  margin: 2rem 0 0 0;
}
li {
  margin: 1rem;
}
h3 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}

/* Navigation */
.nav__links {
  display: flex;
  list-style: none;
  justify-content: center;
  transition: none;
}
.header-logo {
  z-index: 2;
  width: 50%;
  display: block;
  margin: auto;
}
.book-btn-head {
  display: flex;
  flex-wrap: wrap;
}
.nav {
  font-size: 25px;
  height: auto;
  font-style: normal;
  text-align: center;
  transition: none;
}
a:link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.nav a:link {
  color: #2e2e2e;
  font-weight: 1;
  padding: 1rem 0.5rem;
}
.nav a:visited {
  color: #2e2e2e;
  font-weight: 1;
}
.nav .current {
  text-decoration: underline 0.1rem;
  text-underline-position: under;
}
/* .nav__link {
  transition: transform 0.5s ease;
}
.nav__link:hover {
  transform: scale(1.5, 1.5);
  transition: transform 0.5s ease;
} */

/* Remove hamburger icon for desktop*/
.logo-bars .icon {
  display: none;
}

/* Book Now Button */
.btn {
  cursor: pointer;
  padding: 1em 3em;
  line-height: 0.5em;
  background-color: #145cad;
  border-color: #145cad;
  border-style: none;
  border-radius: 10rem;
  color: #fff;
  transition: transform 0.5s ease;
}

.logo-bars {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#book-online {
  display: none;
  color: #fff;
  padding: 1em 1.5em;
}

#book-online-head {
  /* font-family: "webFont", Arial; */
  color: #fff;
  padding: 1em 1.5em;
  /* font-weight: 1; */
  font-size: 25px;
  display: inline-block;
  align-self: center;
}

.btn:hover {
  opacity: 80%;
  border-width: 4px;
  transform: scale(1.1, 1.1);
  transition: transform 0.5s ease;
}
.main-header {
  margin: auto;
  position: relative;
  overflow: auto;
}

.this-page {
  border-bottom: 1rem solid #2e2e2e;
}

/* SLIDER */
.slider {
  margin: auto;
  height: 289px;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  width: 33.33% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slide > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.slide:not(.vis) {
  visibility: hidden;
}
.sl2 {
  transform: translateX(100%);
}
.sl3 {
  transform: translatex(200%);
}
.slider__btn {
  display: flex;
  flex-flow: row wrap;
  border-radius: 50%;
  border-width: 0;
  background-color: #000000;
  color: white;
  position: absolute;
  opacity: 60%;
  cursor: grab;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.75rem;
  justify-content: center;
}
.slider-button-text {
  /* align-items: center; */
  /* justify-content: center; */
  align-self: center;
}
.slider__btn--left {
  left: 1%;
}
.slider__btn--right {
  right: 1%;
}

/* General Elements */
.section {
  padding: 0rem 3rem;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  padding: 0rem 1rem;
}
.head_col2 {
  flex: 10%;
}
.home-col1 {
  flex: 60% !important;
}
.home-col2 {
  flex: 40% !important;
}
.center {
  text-align: center;
  margin: 2rem 0 0 0;
}
.heading_wrapper {
  background-color: #031881;
  width: 100%;
}
.heading {
  color: #fff;
  line-height: 1.6;
  font-size: 3rem;
  margin: 0 0 0 3rem;
  font-weight: 100;
}

/* Google Map */
#gmap_canvas {
  width: 500px;
  height: 300px;
  margin: 2rem 0 0 0;
}
#location_gmap_canvas {
  width: 600px;
  height: 400px;
  margin: 2rem 0 0 0;
}

/* Buttons */
#times-available {
  display: block;
  width: 50%;
  padding: 1em 1.5em;
  font-weight: 600;
  text-align: center;
  margin: 2rem auto;
}
#times-available-location {
  display: block;
  width: 50%;
  padding: 1em 1.5em;
  font-weight: 600;
  text-align: center;
  margin: 2rem auto;
}
#Book-online-bottom {
  display: block;
  width: 15%;
  padding: 2em 1.5em;
  font-weight: 600;
  text-align: center;
  margin: 2rem auto;
}

/* ABOUT PAGE*/
.col-img {
  display: block;
  width: 80%;
  height: auto;
  margin: 2rem auto 0;
}

.hidden {
  display: none;
}

/* LOCATION PAGE */
.loc_head {
  margin: 0;
  line-height: 1.2;
}
.loc_info {
  margin: 2rem 0 0 2rem;
}

/* Privacy Policy */
.privacy_wrapper {
  width: 75%;
  margin: 2rem auto;
}

/* Footer */
.footer_img_wrap_index {
  margin: 2rem 0 0 0;
  width: 100%;
  max-height: 50vh;
  overflow: hidden;
  display: flex;
}
.footer_img_index {
  width: 100%;
  object-fit: cover;
}

.footer_img_wrap {
  margin: 2rem 0 0 0;
  width: 100%;
  max-height: 45vh;
  overflow: hidden;
}
.footer_img {
  position: relative;
  width: 100%;
  object-fit: contain;
  top: -45vh;
}

.middle__foot {
  margin-top: 2rem;
  text-align: center;
  flex: 25%;
}
.footer__link {
  margin: 0 1rem 0 0;
  text-decoration: underline !important;
  color: #145cad;
  font-size: 1.1rem;
  text-underline-offset: 0.2em;
}
.footer__link:visited {
  color: #145cad;
  text-decoration: underline !important;
}

.left__foot {
  margin-left: 2rem;
  line-height: 1.6;
  flex: 42%;
}

.right__foot {
  flex: 33%;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 600px;
  margin: auto;
}

.booking-row {
  background-color: rgb(10 53 151);
  margin: 20vh;
}

.handwritten {
  font-family: "Caveat", cursive;
  color: white;
  text-align: center;
  font-size: 3rem;
}

.container {
  background-color: rgb(10 53 151);
  padding: 0 0 15px;
}

.cookies-banner {
  background: #444;
  color: #fff;
  padding: 6px;
  font-size: 13px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.cookies-banner button {
  text-decoration: none;
  background: #222;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  padding: 4px 7px;
  margin: 2px 0;
  font-size: 13px;
  font-weight: 700;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
}

.cookies-banner button:hover {
  background: #fff;
  color: #222;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, width 0.2s ease-in-out,
    height 0.2s ease-in-out;
}

.dot.active {
  transform: scale(1.5);
}

/* .paragraph-1 {
  background-color: purple;
} */
@media only screen and (max-width: 650px) {
  /* Slider */
  .slider {
    width: 100%;
  }
  .slide {
    width: 100% !important;
  }
  .slide > img {
    height: 20rem !important;
    object-fit: cover;
  }
}

/*************************** Phone view **************************/
/*************************** Phone view **************************/
@media only screen and (max-width: 950px) {
  h1,
  h2,
  h3,
  h4,
  p,
  ul {
    margin: 1rem 0 0 0;
  }

  .logo-bars {
    display: grid;
    grid-template-columns: 3.5fr 0.5fr;
  }

  .logo-bars .icon {
    display: flex;
    font-size: 7vw;
    align-items: center;
    justify-content: center;
  }

  .fa-bars {
    color: #2e2e2e;
    cursor: pointer;
    font-size: 2rem;
  }

  .nav {
    max-height: 20em;
    min-height: 0em;
    transition: all 1s ease-out;
    height: 0px;
  }

  /* Header */
  /* .header_row {
    display: flex;
  }
  .head_col2 {
    flex: 10%;
  } */
  .header-logo {
    background-color: #fff;
    width: 90%;
  }

  /* Hide nav menu*/
  .nav__links {
    transform: translateY(-445px);
    display: block;
    /* transition: transform 1s ease-out, visibility 1s; */
    visibility: hidden;
  }

  .nav__item {
    display: block;
  }

  #mc_embed_signup {
    width: 100% !important;
  }

  /* Display Nav menu */
  .nav__links.responsive .nav__item {
    float: none;
    visibility: visible;
  }

  .nav__links.responsive {
    transform: translateY(0px);
    transition: transform 1s ease-out, visibility 0.5s;
    visibility: visible;
  }

  #book-online {
    display: inline-block;
    position: static;
    padding: 0.5em 0.75em !important;
    margin-top: 1rem;
  }

  #book-online-head {
    display: none;
  }

  /* General Elements */
  .section {
    padding: 0rem 1rem;
  }
  .row {
    display: flex;
    flex-flow: column wrap;
  }
  .column-reverse {
    flex-direction: column-reverse;
  }
  .column {
    flex: 100%;
    height: auto;
    padding: 0 1rem;
  }

  /* Google Map */
  .mapouter {
    position: relative;
    text-align: right;
  }
  .gmap_canvas {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: none !important;
  }
  #gmap_canvas {
    width: 100%;
  }

  #location_gmap_canvas {
    width: 100%;
  }

  /* Buttons */
  #times-available {
    width: 80% !important;
  }
  #Book-online-bottom {
    width: 60% !important;
  }
  #times-available-location {
    line-height: 1.1rem;
  }

  .booking-row {
    margin: 0;
  }

  /* Location */
  .loc_head {
    font-size: 1.5rem;
  }
  .opening_hours {
    font-size: 1rem;
  }
  .loc_info {
    margin-left: 0;
  }

  /* Privacy Policy */
  .privacy_wrapper {
    width: 90%;
  }

  /* Footer */
  /* .footer_img_index {
  top: 0 !important;
}
.footer_img {
  top: 0 !important;
} */

  #classicLink {
    color: rgb(0, 42, 255);
  }
}
